html{background-image: url(../img/b.png);}
#header-main h1{
	text-align: center;}
#header-nav ul{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;}
#header-nav li{
	text-align: center;}
#header-nav a{
	text-decoration: none;}
#header-nav h5{
	margin-bottom: 0px;}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}

.bcolor-one{
	background-color: #8ad66e;}
	
.clear-float{clear:both;}
